* {
    box-sizing: border-box;
  }

  body {
    font-style: Raleway, sans-serif;
  }

 

header h1 {
    font-family: Anton, sans-serif;
    color:black;
    display: inline-block;
    position: absolute;
    font-size: 300%;
    top: 50%;
    left: 50%;
}

.container {
    margin: 5px;
    width: auto;
}

.flexbox-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    border-radius: 5px;
}

.navbar a {
    float: left;
    color: #f8f4f4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.header-img {
    background-image: url("/assets/images/P1-Header-img.jpg");
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    height: 150px;
    background-color: #333;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;

}

.socials {
    text-align: center;
}

.socials i {
    margin: 2%;
    padding: 8%;
    font-size: 200%;
    color: #f8f4f4;
    margin: 45px;
}

